<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
      <ion-icon name="home" class="tab-selected"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="consultas" href="/tabs/consultas"> 
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Consultas</ion-label>
      <ion-icon name="calendar" class="tab-selected"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
      <ion-icon name="person-circle" class="tab-selected"></ion-icon>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>